<%= link_to(product) do %>
  <div class="card">
    <div class="product-image" style="background: white; background-image: url('<%= product.image_url %>');">
      <div class="price">
        <p>£<%= product.price %></p>
      </div>
    </div>
    <div class="product-title">
      <div class="name">
        <h2><%= product.name[0..25]%>...</h2>
      </div>
    </div>
    <div class="product-company">
      <p>by <%= product.company.name %></p>
    </div>
    <% end %>
    <div class="product-actions">
      <div class="like">
        <p><%= product.likes.count %></p>
      </div>
      <div class="like-icon">
        <% if product.likes.where(user_id: @current_user).count > 0 %>
          <%= link_to(product_likes_path(product), method: :post) do %><i class="fa fa-heart-o"></i><% end %>
        <% else %>
          <%= link_to(product_likes_path(product), method: :post) do %><i class="fa fa-heart-o"></i><% end %>
        <% end %>
      </div>
    </div>
  </div>
