<div class="home-banner-wrapper flex-box">
  <div class="container">
    <div class="home-title">
      <h1>Welcome to Emzy</h1>
      <p>Carefully Curated Products For First Time Buyers</p>
    </div>
  </div>
</div>
<div class="search-banner">
  <div class="circle">
    <i class="fa fa-eye"></i>
  </div>
  <div class="search-title">
    <p>Discover Products by Room</p>
  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("ikea-a-traditional-kitchen-for-the-modern-life__1364308465964-s4_srncjc")%>'); background-size: cover;">
    <h1>Kitchen</h1>
  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("1728518-dixie-in-yellow-velvet_ugknf3")%>'); background-size: cover;">
    <h1>Living room</h1>
  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("traditional-home-office_dk2qa7")%>'); background-size: cover;">
    <h1>Office</h1>
  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("A_bright_bedroom_with_a_HEMNES_queen_bed_frame__hemnes_bed_may_2017_520_395_u1nayk")%>'); background-size: cover;">
    <h1>Bedroom</h1>

  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("grey-subway-tile-bathroom-with-blue-freestanding-bathtub-under-craved-frame-painting-and-white-bathroom-vanity-945x630_we8iag")%>'); background-size: cover;">
    <h1>Bathroom</h1>
  </div>
</div>
<div class="col-xs-12 col-md-4 touching-cards">
  <div class="room flex-box" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path("Vintage-garden_ufjvtz")%>'); background-size: cover;">
    <h1>Garden</h1>
  </div>
</div>

