<div class="container padding-top">
  <div class="white-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-section">
          <div class="product-show-image" style="background-image: url('<%= @product.image_url %>');">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="show-body">
          <div class="information">
            <h1><%= @product.name %></h1>
            <p style="font-size: 14px;">by <u><%= @product.company %></u></p>
            <hr>
            <p>Details:</p>
            <p style="font-weight: 100;"><%= @product.description %></p>
            <div class="button">
              <%= link_to "£" + @product.price.to_s + " on " + @product.company, @product.url, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="product-summary">
        <h2 class="text-center padding-top" style="font-size: 22px;">Product Summary</h2>
        <div class="col-lg-6 col-lg-offset-3 col-xs-12  text-center padding-top">
          <div class="col-lg-4 product-summary-image border-right full-height">
            <p>Room</p>
              <% if @product.category_id == Category.where(name:'Bedroom').first.id  %>
                <%= image_tag('bed.png') %>
              <% elsif @product.category_id == Category.where(name:'Kitchen').first.id %>
                <%= image_tag('mixer.png') %>
              <% elsif @product.category_id == Category.where(name:'Living Room').first.id %>
                <%= image_tag('sofa.png') %>
              <% elsif @product.category_id == Category.where(name:'Office').first.id %>
                <%= image_tag('desk.png') %>
              <% elsif @product.category_id == Category.where(name:'Bathroom').first.id %>
                <%= image_tag('bathtub.png') %>
              <% end %>
          </div>
        <div class="col-lg-4 col-xs-12 border-right">
          <p>Affordability Scale</p>
            <% if @product.price.to_i <= 100 %>
                <h1>High</h1>
              <% elsif @product.price.to_i > 100 && @product.price.to_i <= 500  %>
                <h1>Medium</h1>
              <% elsif @product.price.to_i > 500 %>
                <h1>Low</h1>
            <% end %>
        </div>
        <div class="col-lg-4 col-xs-12 ">
          <p>Likes</p>
          <h1><%= @product.likes.count %></h1>
        </div>
         </div>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="similar">
          <h2 class="text-center" style="font-size: 22px;">Similar Products</h2>
            <% @products.each do |product| %>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <%= render 'card', product: product %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

